<div class="container my-5">

    
    <div class="text-center" *ngIf="loading">
        <div class="spinner-border text-primary"></div>
        <p class="mt-3">Loading product...</p>
    </div>

    
    <div class="row" *ngIf="!loading">

        
        <div class="col-lg-5 text-center">

            <img
                [src]="product.thumbnail"
                [alt]="product.title"
                class="img-fluid product-image">

        </div>

       
        <div class="col-lg-7">

            <h2>{{ product.title }}</h2>

            <p class="text-muted">
                Brand: <strong>{{ product.brand }}</strong>
            </p>

            <p>
                {{ product.description }}
            </p>

            <h3 class="text-success">
                ${{ product.price }}
            </h3>

            <p class="mb-2">
                ⭐ {{ product.rating }}
            </p>

            <p class="mb-2">
                Discount:
                <span class="badge bg-danger">
                    {{ product.discountPercentage }}% OFF
                </span>
            </p>

            <p class="mb-4">

                <span
                    class="badge"
                    [class.bg-success]="product.stock > 0"
                    [class.bg-danger]="product.stock == 0">

                    {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}

                </span>

            </p>

            <button
    class="btn btn-warning btn-lg me-3"
    (click)="addToCart()">
    Add to Cart
</button>

            <a
                routerLink="/products"
                class="btn btn-outline-dark btn-lg">

                Back to Products

            </a>

        </div>

    </div>

</div>